.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #076396;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
}